<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our vision is simple, but broad</h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">Helix is a collective of businesses and workers supporting the tech needs of The Valley of the Sun. Some might call us a guild &mdash; we stand together for eachother.</p>
  </div>
  <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
    <%= render "components/goals/item", icon: "fa-hands-holding-diamond", title: "Stability", blurb: "We back each other up so we can take on larger, more ambitious projects with a lower risk of failure for our clients." %>
    <%= render "components/goals/item", icon: "fa-handshake-simple", title: "Partnership", blurb: "Our community is the ideal place to find a partner for your project or venture." %>
    <%= render "components/goals/item", icon: "fa-chalkboard-user", title: "Growth", blurb: "It's diffcult to learn in a vacuum, so we provide opportunities to spark curiosity and ignite learning." %>
  </div>
</section>
