<section class="bg-white dark:bg-gray-900">
  <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 xl:gap-16 sm:py-16 lg:px-6 ">
    <div class="mb-8 w-full h-4/5 rounded-lg bg-cover bg-no-repeat bg-center" style="background-image:url('<%= image_path "why_us.jpg" %>')"></div>
    <div class="text-gray-500 dark:text-gray-400 sm:text-lg">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Designed with consistency in mind</h2>
      <p class="mb-8 font-light lg:text-xl">By fostering a wide network of proven professionals, we're able to lean on each other to ensure that every project we commit to we deliver on.</p>
      <p class="mb-8 font-light lg:text-xl">It also means that every time you work with us, you always know what to expect.</p>
      <div class="py-8 mb-6 border-t border-b border-gray-200 dark:border-gray-700">
        <div class="flex">
          <div class="flex justify-center items-center mr-4 w-8 h-8 rounded-full bg-primary-100 dark:bg-primary-900 shrink-0">
            <i class="text-center w-5 h-5 text-primary-600 dark:text-primary-300 fa-duotone fa-solid fa-award"></i>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Standardized workflows</h3>
            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">No matter who in our collective is advancing your goals, you'll never need to worry if anything is overlooked or missed.</p>
          </div>
        </div>
        <div class="flex pt-8">
          <div class="flex justify-center items-center mr-4 w-8 h-8 bg-purple-100 rounded-full dark:bg-purple-900 shrink-0">
            <i class="text-center w-5 h-5 text-purple-600 dark:text-purple-300 fa-duotone fa-solid fa-clipboard-list-check"></i>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Transparent scoping</h3>
            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">We consult with eachother for feedback during the project scoping process if it's something we haven't seen before, ensuring that project are priced to the work &mdash; not the size of your company.</p>
          </div>
        </div>
        <div class="flex pt-8">
          <div class="flex justify-center items-center mr-4 w-8 h-8 bg-teal-100 rounded-full dark:bg-teal-900 shrink-0">
            <i class="text-center w-5 h-5 text-teal-600 dark:text-teal-300 fa-duotone fa-solid fa-lock-keyhole"></i>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Industry best practices</h3>
            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">We hold ourselves (and each other) to the highest standards of industry best practices, which means you never need to worry.</p>
          </div>
        </div>
      </div>
      <p class="text-sm">The strength of the community comes from the strenght of the members. We deliver great experiences fast because of our built-in redundancies.</p>
    </div>
  </div>
</section>
