@tailwind components;

@layer components {
  header nav {
    @apply bg-helix-gold border-gray-200 dark:bg-gray-800 text-helix-gray h-full shadow-md;

    .main-nav-container {
      @apply h-max flex flex-row flex-wrap lg:flex-nowrap gap-x-2 items-center mx-auto max-w-screen-xl;
    }

    .main-nav-links {
      @apply grow justify-center self-stretch items-center w-full order-2 lg:order-1 lg:w-auto;

      > ul {
        @apply self-stretch items-center;

        > li {
          @apply flex flex-col gap-y-0 self-stretch items-center;

          .main-nav-dropdown {
            @apply absolute shadow-md z-50 hidden hover:block w-full bg-white top-[72px] left-0;
          }

          &:hover {
            .main-nav-dropdown {
              @apply block;
            }
          }

          > a {
            @apply px-2 h-[100%] content-center w-full md:w-auto hover:text-helix-gray text-start py-2 px-4 border-b-2 border-helix-gold hover:border-helix-gray;

            &[aria-current] {
              @apply text-helix-gray bg-helix-mint/50 hover:bg-helix-pistachio-300/75 border-b-2 border-helix-mint-500 dark:bg-gray-700 dark:text-white dark:border-gray-700;
            }
          }
        }
      }

      .mega-columns {
        @apply flex flex-row gap-4 place-items-start mx-auto p-4;
        --fa-primary-color: rgb(var(--helix-slate-500));
        --fa-secondary-color: rgb(var(--helix-slate-500));

        .mega-column {
          @apply grow flex flex-col gap-2 justify-start;

          p {
            @apply font-bold text-black;
          }
        }

        li {
          @apply place-items-start my-2 hover:scale-105 transition;

          &:hover {
            --fa-primary-color: rgb(var(--helix-pistachio-500));
            --fa-secondary-color: rgb(var(--helix-pistachio-500));
          }
        }

        a {
          @apply text-black hover:text-helix-slate py-2 px-4;
        }
      }

      .tile-row {
        @apply flex flex-row space-x-8 py-8;

        li {
          @apply grow flex flex-col justify-start;

          a {
            @apply text-black hover:text-helix-slate;

            .tile-title {
              @apply font-bold mb-2;
            }

            .tile-description {
              @apply text-sm;
            }
          }

          .subnav-tile-image {
            @apply w-full h-44 bg-center bg-no-repeat bg-cover rounded-md mb-2 border-4 border-helix-slate;
          }

          &:hover {
            @apply scale-105 transition-transform;
          }

          &:hover .subnav-tile-image {
            @apply border-helix-pistachio;
          }
        }
      }

      .icon-grid {
        @apply grid grid-cols-4 gap-4 py-8;

        .subnav-icon-item {
          @apply flex flex-row gap-2 hover:scale-105 transition;

          .icon-tile-icon {
            span {
              @apply block bg-helix-slate rounded-full p-2 h-12 w-12 text-white text-center mt-1 content-center text-lg;
            }
          }

          .icon-tile-title {
            @apply grow;

            .tile-title {
              @apply font-bold mb-2;
            }

            .tile-description {
              @apply font-light;
            }
          }

          &:hover .icon-tile-icon span {
            @apply bg-helix-pistachio;
          }
        }
      }
    }

    .main-nav-actions {
      @apply flex items-center lg:order-2 py-4;

      .contact-cta {
        @apply text-white bg-secondary hover:bg-secondary-700 hover:shadow focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800;
      }
    }
  }
}

