@import "./colors.tailwind.css";

@import "./components/future.tailwind.css";
@import "./components/index_hero.tailwind.css";
@import "./components/navbar.tailwind.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --page-nudge: calc((100vw - theme(screens.xl)) / 2);
  }

  a.btn-hover-grow {
    @apply hover:scale-105 transition-transform;
  }

  .left-page-nudge {
    padding-left: var(--page-nudge) !important;
  }

  .right-page-nudge {
    padding-right: var(--page-nudge) !important;
  }
}
