  <div>
    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-helix-slate lg:h-12 lg:w-12 dark:bg-helix-slate-900">
      <i class="content-center text-center text-white lg:w-6 lg:h-6 dark:text-helix-slate-300 fa-duotone fa-solid <%= icon %>"></i>
    </div>
    <h3 class="mb-2 text-xl font-bold dark:text-white"><%= title %></h3>
    <p class="text-gray-500 dark:text-gray-400"><%= blurb %></p>
  </div>
